<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

    <%- include('banner', {username: username}) %>

    <div class="list">

      <% for(var i=0; i<list.length; i++) { %>
        <div class="row">
          <span><%= i+1 %></span>
          <span><%= list[i].username %></span>
          <span><a href="/detail?id=<%= list[i]._id %>"><%= list[i].title %></a></span>
          <span><%= list[i].createTime %></span>
          <span>
              <a href="/write?id=<%= list[i]._id %>">编辑</a>
              <a href="/article/delete?id=<%= list[i]._id %>">删除</a>
          </span>
        </div>
      <% } %>



      <div class="pages">
        <% for(var i=0; i<num; i++) { %>
          <a href="/?page=<%= i+1 %>"><%= i+1 %></a>
        <% } %>

      </div>

    </div>

  </body>
</html>
